# Configuración de Base de Datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=musicboxd
DB_PORT=3306

# Configuración del Servidor
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Spotify API
SPOTIFY_CLIENT_ID=tu_client_id_aqui
SPOTIFY_CLIENT_SECRET=tu_client_secret_aqui

# Sesiones
SESSION_SECRET=clave_super_secreta_cambiar_en_produccion